<div class="card-container" [appHighlight]="'rgba(0, 0, 0, 0.15)'">

  <div class="card" [class.premium-card]="travel.price > 19000">
    <img [src]="travel.imageUrl" [alt]="travel.title" class="card-img">

    <div class="card-content">
      <span class="status-badge" [style.backgroundColor]="travel.status | statusColor">
        {{ travel.status }}
      </span>

      <h3>{{ travel.title }}</h3>
      <p class="location"> 🌍 {{ travel.location?.country }}, {{ travel.location?.region }}</p>

      <p class="description">{{ travel.description | truncate:40 }}</p>

      <div class="tags">
        @for (tag of travel.tags; track tag) {
          <span class="tag">#{{ tag }}</span>
        }
      </div>

      <div class="card-footer">
        <span class="price">{{ travel.price | currency:'UAH':'symbol-narrow' }}</span>
        <span class="date">{{ travel.startDate | date:'dd.MM.yyyy' }}</span>
      </div>
    </div>

    @if (travel.isHot) {
      <div class="hot-deal">ГАРЯЧА ЦІНА</div>
    }

    <div class="card-actions">
      <button (click)="onActionClick()">Забронювати</button>
      <button [routerLink]="['/travel', travel.id]">Детальніше</button>
    </div>
  </div>

</div>
