<div class="card">
  <img [src]="travel.imageUrl" [alt]="travel.title" class="card-img">
  <div class="card-content">
    <span class="status-badge">{{ travel.status }}</span>
    <h3>{{ travel.title }}</h3>
    <p class="location"> 🌍 {{ travel.location?.country }}, {{ travel.location?.region }}</p>
    <p class="description">{{ travel.description }}</p>

    <div class="tags">
      @for (tag of travel.tags; track tag) {
        <span class="tag">#{{ tag }}</span>
      }
    </div>

    <div class="card-footer">
      <span class="price">{{ travel.price | currency:'UAH':'symbol-narrow' }}</span>
      <span class="date">{{ travel.startDate | date:'dd.MM.yyyy' }}</span>
    </div>
  </div>
</div>

@if (travel.isHot) {
  <div class="hot-deal">ГАРЯЧА ЦІНА</div>
}

<div class="actions">
  @if (travel.status === 'Доступно') {
    <button class="btn-buy" (click)="onActionClick()">Забронювати</button>
  } @else {
    <button class="btn-disabled" disabled>Недоступно</button>
  }
</div>
<div class="card" [class.premium-card]="travel.price > 19000">
</div>
